body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section:first-of-type {
    height: 100vh;
}

section:first-of-type h1 {
    width: 80%;
}

section:first-of-type h1,
footer p {
    background-color: red;
    color: white;
}


section:first-of-type h1,
section:nth-of-type(2) h2:first-child {
    text-align: center;
    text-decoration: underline;
    box-shadow: 0 5px 10px #877c7c;
    padding: 5px 0;
    font-size: 20px;
    margin: 10px auto;
}

section:nth-of-type(2) {
    background-color: #eee;
    padding: 10px 0 50px 0;
    text-align: center;

}

section:nth-of-type(2) :not(div) {
    overflow: hidden;
    white-space: nowrap;
}

section:nth-of-type(2) h2:first-child {
    background-color: white;
    width: 40%;
    min-width: 200px;
    margin-bottom: 80px;
}

section:nth-of-type(2) div img {
    width: 94%;
    margin-top: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

section:nth-of-type(2) div h2 {
    font-size: 18px;
    margin: 10px 0 0 0;
}

section:nth-of-type(2) div p {
    text-overflow: ellipsis;
    padding-left: 5px;
    margin: 5px 0 10px 0;
}

section:nth-of-type(2) div button {
    border: none;
    color: red;
    text-decoration: underline;
}

section:nth-of-type(3) {
    margin: 30px 0 60px 0;
    text-align: center;
}

section:nth-of-type(3)>h2 {
    text-decoration: underline;
    margin-bottom: 50px;
}

section:nth-of-type(3) div h2 {
    font-size: 20px;
}

section:nth-of-type(3) div p {
    width: 90%;
    margin: 0 auto;
}

div {
    display: inline-block;
    width: 20%;
    min-width: 200px;
    margin: 0 15px 10px 0;
    padding-bottom: 20px;

    border: 1px solid rgb(116, 113, 113, .3);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 50px;
    box-shadow: 5px 5px 12px #989898;

}

footer p {
    text-align: center;
}